/* body style */
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* style links in header */
nav a {
    margin-right: 1.5rem; 
    color: white;
    text-decoration: none;
    font-size: .9rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}


/* page layout */
main {
    padding: 2rem;
}

.page-title {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
}

/* search form container */
.search-form-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;
    background: white;
    border-radius: 10px;
    text-align: center;
}


.search-form-container h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* for search bar */
#search-bar {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* for login/signup input */
input[type="text"], input[type="password"],input[type="username"], input[type="email"]  {
    width: 75%;
    max-width: 250px;
    padding: .5rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

/* button style */
button {
    padding: 1.1rem;
    font-size: 1rem;
    max-width: 500px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}


/* movies cards layout */
.movie-container {
    max-width: 1000px;
    margin: 2rem auto;
    display: grid;
    gap: 1.5rem;
}

/* different design for movies cards layout for different pages */
.movie-container h3 {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 1.5rem;
}

/* movie cards to display movie titles in grid */
.movie-card {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.movie-card h3 {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.movie-card p {
    font-size: 1rem;
    color: #777;
}

/* design favorite buttons */
/* used this container for both add and remove favorites button */
.rmv-from-fav-btn {
    display: inline-block;
    padding: 0.7rem;
    margin-top: 1rem;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}


/* form styling for different pages */
.form-container {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    text-align: center;
}

.form-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.form2 {
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    
}




/* more form styling for user info page */
.sign-in-form input[type="text"],
.sign-in-form input[type="password"] {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

/* more button styling */
/* reusing the same style for every button looked weird */
.sign-in-form button {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
    width: 80%;
}

/* style delete account button */
.danger-button{
    background-color: red;
}


/* stats page container style */
.stats-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.stats-box {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
}

.stats-box ul {
    list-style: none;
    font-size: 1.1rem;
}

/* graph styling */
.graph-container {
    padding: 2rem;
    margin: 0 auto;
    background: #fff;
    border-radius: 12px;
    margin-top: 20px;
}

/* boxes for graphs */
.chart-box {
    background: #f8f9fa;
    padding: 1.5rem;
    border-radius: 12px;
    margin-bottom: 2rem;
}


/* titles for graphs */
.chart-box h3 {
    font-size: 1.6rem;
    color: #495057;
    margin-bottom: 1rem;
    font-weight: bold;
}

/* Graph Image */
.graph-img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0 auto;
}

.chart-box ul {
    list-style: none;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}























/* login error message */
.error-message{
    font-weight: bold;
    font-size: 1.1rem;
    color: #AF0606;
}
