
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">

  <title>Database Systems</title>

</head>
<body>

    <nav>
        <ul>
            <!-- Other pages links -->
            <li><a href="login.html">User Sign-in</a></li>
            <li><a href="browse.html">Browse Media</a></li>
            <li><a href="search.html">Search</a></li>
            <li><a href="stats.html">Stats Page</a></li>
            <li><a href="user_fav.html">User Favorites Pages</a></li>
        </ul>
    </nav>



</body>
<!--
{% block content %}
{% end block %}
-->



</html>





